*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 100px;
    background-color: #f5f5dc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.content{
    background-color:#b8cca3;
    min-height: 100vh;
    width: 100%;
    color:rgb(0, 0, 0);
    align-items: center;
    
    
}
.header {
    display: flex;
    text-align: center;
    align-items: center;
}
.header a{
    font-size: 18px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    transition: opacity 0.3s ease;
}
.header a:hover{
    opacity:0.50;
}
.logo{
    max-width: 130px;
    height: auto;
}
/* Navigation Bar */
.header-nav {
    background-color: #f5f5dc;
    overflow: hidden;
    padding-top: 150px; /* Adjusted padding for a cleaner look */
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation items */
}

.navigation-bar li {
    margin: 0 15px; /* Add some spacing between navigation items */
}

.navigation-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.s ease; /* Smooth transition for hover effect */
}

.navigation-bar li a:hover {
    background-color: #f5f5dc;
}

/* Optional: Add some styles for better readability */
.navigation-bar li a:focus,
.navigation-bar li a:active {
    background-color: #555;
    outline: none;
}
/* Dropdown Button */
.dropbtn {
    background-color: #f5f5dc;
    color: black;
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn a:hover{
    background-color: #f5f5dc;
}
/* Dropdown content */
.products-content {
    display: none;
    position: absolute;
    color: #b8cca3;
    text-decoration: none;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
.products-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.Products:hover .products-content {
    display: block;
}


.footer {
    background-color: #f5f5dc;
    color: #000000;
    text-align: center;
    padding: 50px; 
    position: relative;
    bottom: 0;
    width: 100%;
}


.footer-section {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.footer-section div {
    width: 100%; 
    margin-bottom: 10px; 
}

