.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.registration-table {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse; /* Ensure table cells don't have spaces between them */
    width: 300px; /* Adjust width as needed */
}

.registration-table th,
.registration-table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.registration-table th {
    text-align: center;
}

#submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #45a049;
}
