form {
    margin-bottom: 20px;
}

.search-bar,
select,
input[type="submit"] {
    padding: 10px;
    margin: 5px;
}

.search-bar,
select {
    width: 200px;
}

select {
    width: 150px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

h1#customer-header {
    color: #333;
    text-align: center;
    margin-right: 60px;
}

table.customer-table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
}

table.customer-table th,
table.customer-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.customer-table th {
    background-color: #4caf50;
    color: white;
}

table.customer-table tr:hover {
    background-color: #f5f5f5;
}

table.customer-table img {
    max-width: 100px;
    max-height: 100px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.table-np ul li {
    margin-left: 20px;
    list-style-type: none;
    display: inline;

}

.modal {
    display: none;
    position: fixed;
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe; 
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 0.5s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.edit-btn {
    padding: 10px;
    margin: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.add-customer-button {
    padding: 10px;
    margin: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}
