.account-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.account-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.account-info {
    margin-bottom: 20px;
}
.account-info p {
    margin-bottom: 10px;
}
.account-actions {
    text-align: center;
}
.account-actions button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #8eea9f;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.change-password-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.change-password-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.change-password-form {
    text-align: center;
}
.change-password-form input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
.change-password-form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #8eea9f;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-password {
    margin-top: 10px; /* Adjust as needed */
}

.change-password-form {
    margin-top: 10px; /* Adjust as needed */
}

.edit-profile-container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.view-orders-container {
    margin: 50px auto;
    width: 80%;
}

/* Add styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #f4f7f5;
}

/* Add styles for table header and data cells */
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

/* Add styles specifically for table headers */
th {
    background-color: #addfb5;
    border-right: 1px solid #000000; 
    border-left: 1px solid #000000;
}


td {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

/* Add hover effect for table rows */
tr:hover {
    background-color: #f7fcf8;
}
