/* Styles for the first search bar */
.top-search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #b8cca3; /* Add your desired background color */
}

.top-search-bar input[type="text"] {
    padding: 5px;
    width: 70%;
}

.top-search-bar button {
    padding: 5px;
    background-color: #f5f5dc; 
    border: none;
    cursor: pointer;
}

/* Styles for the second search bar */
.bottom-search-bar {
    background-color: #b8cca3;
    padding: 20px;
    margin-left: 20px; 
}

.bottom-search-bar input[type="text"] {
    padding: 40px; 
    width: 80%; 
}

.bottom-search-bar button {
    padding: 10px; 
    background-color: #f5f5dc; 
    border: none;
    cursor: pointer;
}

