
body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    background-color: #b8cca3;
    min-height: 100vh;
    width: 100%;
    color: rgb(0, 0, 0);
    align-items: center;
}

table {
    border: 1px solid black;
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4caf50;
}

tr {
    background-color: white;
}
tr:hover {
    background-color: lightgray;
}


h1, h2 {
    text-align: center;
}

.search-bar,
select {
  width: 200px;
}

select {
  width: 150px;
}
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 70px;
    height: 40px;
  }
  .generate-receipt-btn {
    width: 200px; /* Set the width of the button */
    height: 50px;
    box-sizing: border-box;
  
   
    font-size: 16px;
    
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    margin-right: 1000px;
   
    cursor: pointer; /* Cursor style on hover */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underlines */
    display: inline-block; /* Make it an inline block element */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.generate-receipt-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

